* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #000;
    color: #fff;
    text-align: center;
    background-image: url('espejo.jpeg'); /* Add your background image here */
    background-size: cover; /* Ensure the image covers the whole screen */
    background-position: center;
    background-attachment: fixed; /* Make the background image fixed during scroll */
}

header {
    padding: 20px 0;
    background-color: rgba(17, 17, 17, 0.8); /* Semi-transparent background */
}

h1 {
    font-size: 2.5rem;
}

nav ul {
    list-style: none;
    padding: 10px 0;
    background-color: rgba(34, 34, 34, 0.8); /* Semi-transparent background */
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 1.2rem;
}

section h2 {
    font-size: 2rem;
    margin: 20px 0;
}

.haircut-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
    padding: 10px;
}

.haircut-gallery img {
    width: 15%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 15px;
}


.service-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
    padding: 10px;
}

.service-gallery img {
    width: 15%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 15px;
}


.contact-form {
    margin: 20px 0;
}

.whatsapp-button {
    background-color: #25D366;
    color: #fff;
    padding: 10px 20px;
    border-radius: 25px;
    text-decoration: none;
    font-size: 1.2rem;
}

footer {
    background-color: rgba(17, 17, 17, 0.8); /* Semi-transparent background */
    padding: 15px 0;
    margin-top: 30px;
}

footer p {
    font-size: 0.9rem;
}

/* Responsive Design */
@media (max-width: 600px) {
    .haircut-gallery .service-gallery img {
        width: 90%;
    }

    nav ul {
        flex-direction: row;
        gap: 30px;
    }

    nav ul li {
        margin: 5px 0;
    }
}
@media (min-width: 300px){
    .haircut-gallery .service-gallery img{
        width:90%;
    }
    nav ul {
        flex-direction: row;
        gap: 30px;
    }

    nav ul li {
        margin: 5px 0;
    }
}
