* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #000;
    color: #fff;
    text-align: center;
    background-image: url('espejo.jpeg'); /* Add your background image here */
    background-size: cover; /* Ensure the image covers the whole screen */
    background-position: center;
    background-attachment: fixed; /* Make the background image fixed during scroll */
}

header {
    padding: 20px 0;
    background-color: rgba(43, 42, 42, 0.8); /* Semi-transparent background */
}

h1 {
    font-size: 2.5rem;
}

/* Responsive Design */
@media (min-width:768px) {
    .nav{
        --state-hamburguer:scale(0);
        --state-menu: translate(0);
    }
    
    .nav:target{
        --state-close: scale(0);
    }

    .nav__links{
        padding: 0;
        background-color: unset;
        position: unset;
        gap: 1.5em;
        grid-auto-flow: column;
    
        transform: unset;

        grid-column: -2/-1;
        grid-row: 1/2;
    }

    .nav__link{
        font-size: 1rem;
        letter-spacing: none;
    }
}


.container{
    margin: 0 auto;
    width: 100%;
    max-width: 1200px;
    overflow: hidden;
}
.hero{
    background-size: contain;
    min-height: 200px;
    height: 1vh;
    color: #ffffff;
}
.nav{
    --state-close: scale(0);
    --state-hamburguer:scale(1);
    --state-menu: translate(-100%);

    padding: 40px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    grid-template-columns: repeat(2, max-content);



}

.nav:target{
    --state-menu: translate(0);
    --state-close: scale(1);
    --state-hamburguer:scale(0);
}

.nav__logo{
    font-size: 2.5rem;
    z-index: 1;
}

.nav__hamburguer, 
.nav__close{
    cursor: pointer;
    grid-column: -2/-1;
    grid-row: 1/2;
    transition: .4s transform;
}

.nav__hamburguer{
    transform: var(--state-hamburguer);
}

.nav__close{
    transform: var(--state-close);
}

.nav__icon{
    width: 40px;
   
}

.nav__links{
    background-color: #817c7c;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 800;
    padding: 0;

  display: grid;
    align-content: center;
   
    padding-right: 80%;

    transform: var(--state-menu);
    transition: .5s transform;

}

.nav__item{
    list-style: disc;
    font-size: 32px;
  margin-bottom: 30px;
padding-top: 30%;

}


section h2 {
    font-size: 2rem;
    margin: 20px 0;
}

.haircut-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
    padding: 10px;
}

.haircut-gallery img {
    width: 15%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 15px;
}


.services-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 100px;
    
}

.service-gallery img {
    width: 15%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 15px;
}


.contact-form {
    margin: 20px 0;
}

.whatsapp-button {
    background-color: #25D366;
    color: #fff;
    padding: 10px 20px;
    border-radius: 25px;
    text-decoration: none;
    font-size: 1.2rem;
}

footer {
    background-color: rgba(17, 17, 17, 0.8); /* Semi-transparent background */
    padding: 15px 0;
    margin-top: 30px;
}

footer p {
    font-size: 0.9rem;
}

/* Responsive Design */
@media (max-width: 600px) {
    .haircut-gallery .service-gallery img {
        width: 90%;
    }

    nav ul {
        flex-direction: row;
        gap: 30px;
    }

    nav ul li {
        margin: 5px 0;
    }
}
@media (min-width: 300px){
    .haircut-gallery .service-gallery img{
        width:90%;
    }
    nav ul {
        flex-direction: row;
        gap: 30px;
    }

    nav ul li {
        margin: 5px 0;
    }
}
